@font-face {
  font-family: 'FontAwesome';
  src: 
    url("../fonts/fontawesome-webfont.woff") format("woff"),
    url("../fonts/fontawesome-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}